<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />

    <application>
        <activity
            android:name=".ui.onboarding.mainActivity.YatLibActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/YatLibAppTheme.Dark"
            android:windowSoftInputMode="stateAlwaysHidden" />

        <activity
            android:name=".ui.transactions.outcoming.YatLibOutcomingTransactionActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/YatLibTheme.TransparentCompat"
            android:windowSoftInputMode="stateAlwaysHidden" />
    </application>

</manifest>